$smallBreakPoint: 400px;
$mediumBreakPoint: 600px;
$largeBreakpoint: 1000px;

$multiplierSmall: 0.8;
$multiplierLarge: 1.2;
$multiplierVeryLarge: 1.4;

$baseFontSize: 14px;
$baseLineHeight: 20px;
$padding: $baseLineHeight / 2;

$navbarHeight: ($baseLineHeight * 2);

$fontSizeSmall: $baseFontSize * $multiplierSmall;
$fontSizeLarge: $baseFontSize * $multiplierLarge;
$fontSizeVeryLarge: $baseFontSize * $multiplierVeryLarge;

$lineHeightSmall: $baseLineHeight * $multiplierSmall;
$lineHeightLarge: $baseLineHeight * $multiplierLarge;
$lineHeightVeryLarge: $baseLineHeight * $multiplierVeryLarge;

$paddingSmall: $padding * $multiplierSmall;
$paddingLarge: $padding * $multiplierLarge;
$paddingVeryLarge: $padding * $multiplierVeryLarge;

$navbarHeightSmall: (($baseLineHeight * $multiplierSmall) * 2);
$navbarHeightLarge: (($baseLineHeight * $multiplierLarge) * 2);
$navbarHeightVeryLarge: (($baseLineHeight * $multiplierVeryLarge) * 2);
