<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>JonFlavell.co.uk - {{ pageTitle }}</title>

    <link rel="stylesheet" href="/assets/css/app.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header>
        <nav class="heading heading--fixed-top">
            <div class="heading__nav">
                <ul class="right">
                    <li><a href="mailto:jon@jonflavell.co.uk"> jon@jonflavell.co.uk</a></li>
                </ul>
                <ul class="left">
                    <li><a href="/">JonFlavell.co.uk</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="content--fixed-heading content--fixed-footer">
        {% block main %}{% endblock %}
    </div>

    <footer class="footer footer--fixed-bottom">
        <div class="footer__links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cv">My CV</a></li>
                <li><a href="//github.com/JonathanFlavell" target="_blank">My GitHub</a></li>
                {#<a class="" href="#">linkedin?</a>#}
            </ul>
        </div>
    </footer>
</body>

<script src="/assets/js/vendor.js" ></script>
<script src="/assets/js/bundle.min.js" ></script>

</html>
