<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>JonFlavell.co.uk</title>

    <link rel="stylesheet" href="/assets/css/app.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <header>
        <h1 class="heading">JonFlavell.co.uk</h1>
    </header>
    {% block main   %}{% endblock %}
    <footer class="footer">
        <a class="" href="/">Home</a>
        <a class="" href="/cv">My CV</a>
        <a class="" href="//github.com/JonathanFlavell">My GitHub</a>
        {#<a class="" href="#">linkedin?</a>#}
    </footer>
</body>

<script src="/assets/js/vendor.js" ></script>
<script src="/assets/js/app.js" ></script>

</html>
