<div class="cv-box" data-collapse>
    <p class="cv-box__header collapse__label">{{ title }}</p>
    <div class="cv-box__content collapse__content">
        <div>
            {{ content }}
        </div>
    </div>
</div>
