<div class="cv-box collapse" data-collapse>
    <p class="cv-box__header">{{ title }}
        <span class="cv-box__dropdown collapse__label">&nbsp;</span>
    </p>
    <div class="cv-box__content collapse__content">
        <p>
            {{ content }}
        </p>
    </div>
</div>
