<div class="cv-box collapse" data-collapse>
    <p class="cv-box__header">{{ education.title }}
        <span class="cv-box__dropdown collapse__label">&nbsp;</span>
    </p>
    <div class="cv-box__content collapse__content">
        <div class="cv-box__sub-header">
            <ul class="education-details">
                <li class="education-details__qualification">{{ education.qualification }}</li>
                <li class="education-details__school">{{ education.school }}</li>
                <li class="education-details__date">{{ education.dates }}</li>
            </ul>
        </div>
    </div>
</div>
