<div class="cv-box__sub-header">
    <ul class="employment-details">
        <li class="employment-details__title">{{ employer.jobTitle }}</li>
        <li class="employment-details__company">{{ employer.company }}</li>
        <li class="employment-details__date">{{ employer.dates }}</li>
    </ul>
</div>

<p>{{ employer.content }}</p>
