<div class="cv-box" data-collapse>
    <p class="cv-box__header collapse__label">{{ education.title }}</p>
    <div class="cv-box__content collapse__content">
        <div class="cv-box__sub-header">
            <ul class="education-details">
                <li class="education-details__qualification">{{ education.qualification }}</li>
                <li class="education-details__school">{{ education.school }}</li>
                <li class="education-details__date">{{ education.dates }}</li>
            </ul>
        </div>
    </div>
</div>
