{% extends 'base.twig' %}

{% block main %}
    <div class="cv-box collapse" data-collapse>
        <p class="cv-box__header">Profile
            <span class="cv-box__dropdown collapse__label">&nbsp;</span>
        </p>
        <div class="cv-box__content collapse__content">
            <p class="">
                Lorem ipsum dolor sit amet, no eos putant fabellas omittantur, apeirian patrioque duo ei. Ius dictas nusquam disputationi eu, mazim platonem delicata vim ei. Eam in scaevola pericula tincidunt, graeco consulatu per te. Equidem principes an eam. Ludus graece tamquam ex his, nec te audire nominavi urbanitas. Tamquam repudiare per at.

                Brute scribentur ut quo, mea eu facilisis repudiare, diceret accumsan cu vim. Ex ius unum ornatus voluptatum. His ceteros pericula petentium cu. Ut velit forensibus neglegentur vel, aeque accusam ut eos, eos in autem conceptam voluptatum. Id per autem expetendis, et discere indoctum cotidieque eos. Vim salutandi persequeris ea, ad esse erroribus per.

                At pri utroque interpretaris, no quo essent bonorum docendi. Antiopam hendrerit duo ea, ut vis novum suavitate. No scripta tibique epicurei mel, per reque appellantur ne, eum quod mnesarchum eu. Assentior prodesset mea ne, per an nonumy consetetur interesset. Id eum graeco offendit appellantur, deserunt cotidieque usu te.

                Eos at consul animal, nam et movet essent eloquentiam, an elit meis suscipit has. Mei cu munere eirmod alienum. Eam ei eros duis quaeque, eu wisi scripta quo, eam cu quis albucius abhorreant. Id nec noster sententiae.

                Eu nibh partem ullamcorper duo. Quo aeque timeam propriae ut, appetere percipitur ad mel. Primis denique scriptorem in eam, affert graeco ad usu. Pri at quodsi pericula instructior, ei usu corpora eleifend. Mea ne homero consetetur, iudico signiferumque ut pro, sea ignota pertinax consetetur ad.
            </p>
        </div>
    </div>
    <div class="cv-box collapse" data-collapse>
        <p class="cv-box__header">Profile
            <span class="cv-box__dropdown collapse__label">&nbsp;</span>
        </p>
        <div class="cv-box__content collapse__content">
            <p class="">
                Lorem ipsum dolor sit amet, no eos putant fabellas omittantur, apeirian patrioque duo ei. Ius dictas nusquam disputationi eu, mazim platonem delicata vim ei. Eam in scaevola pericula tincidunt, graeco consulatu per te. Equidem principes an eam. Ludus graece tamquam ex his, nec te audire nominavi urbanitas. Tamquam repudiare per at.

                Brute scribentur ut quo, mea eu facilisis repudiare, diceret accumsan cu vim. Ex ius unum ornatus voluptatum. His ceteros pericula petentium cu. Ut velit forensibus neglegentur vel, aeque accusam ut eos, eos in autem conceptam voluptatum. Id per autem expetendis, et discere indoctum cotidieque eos. Vim salutandi persequeris ea, ad esse erroribus per.

                At pri utroque interpretaris, no quo essent bonorum docendi. Antiopam hendrerit duo ea, ut vis novum suavitate. No scripta tibique epicurei mel, per reque appellantur ne, eum quod mnesarchum eu. Assentior prodesset mea ne, per an nonumy consetetur interesset. Id eum graeco offendit appellantur, deserunt cotidieque usu te.

                Eos at consul animal, nam et movet essent eloquentiam, an elit meis suscipit has. Mei cu munere eirmod alienum. Eam ei eros duis quaeque, eu wisi scripta quo, eam cu quis albucius abhorreant. Id nec noster sententiae.

                Eu nibh partem ullamcorper duo. Quo aeque timeam propriae ut, appetere percipitur ad mel. Primis denique scriptorem in eam, affert graeco ad usu. Pri at quodsi pericula instructior, ei usu corpora eleifend. Mea ne homero consetetur, iudico signiferumque ut pro, sea ignota pertinax consetetur ad.
            </p>
        </div>
    </div>
{% endblock %}
