{% extends 'base.twig' %}

{% block main %}
<div class="boxed-content">
    <p class="">site welcome message</p>
    <p class="">site welcome message</p>
    <p class="">site welcome message</p>
</div>
{% endblock %}
