{% extends 'base.twig' %}

{% block main %}
    <div class="content--fixed-footer content--fixed-heading content__text">
        <p>
            I'm Jonathan Flavell, A web developer at the start of an exciting career in
            software development. Currently employed at
            <a href="http://www.jobs.ac.uk" target="_blank">jobs.ac.uk</a>, I primarily
            work in PHP to maintain and develop their website. For more information on
            my working life there are links to my CV and GitHub below.

        </p>
        <p>
            Personally I have keen interests in coding, metal music, and PC gaming and can
            normally be found either tinkering with some code or getting owned in the
            <a href="https://eu.battle.net/overwatch/en/" target="_blank">Overwatch</a> closed beta
        </p>
    </div>
{% endblock %}
