{% extends 'base.twig' %}

{% block main %}
    <div>
        <p class="">site welcome message</p>
        <p class="">site welcome message</p>
        <p class="">site welcome message</p>
    </div>
{% endblock %}
