.boxed-content {
  padding-top: ($navbar-height * 2);
  margin-top: -$navbar-height;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  text-align: center;

  &> p {
    font-family: Arial, Helvetica, sans-serif;
  }
}

