.collapse {

  &__label {
    cursor: pointer;

    &.open {

      &:after {
        font-family: FontAwesome, Arial, Helvetica, sans-serif;
        content: "\00a0\f077"
      }
    }
  }

  &__content {
    display: none;
  }

  @media (min-width: $smallBreakPoint) {
    &__label {
      cursor: default;
    }

    &__content {
      display: block;
    }
  }

  @media (max-width: $smallBreakPoint) {
    &__label {

      &:after {
        font-family: FontAwesome, Arial, Helvetica, sans-serif;
        content: "\00a0\f078"
      }
    }
  }
}
