body {
  margin: 0;
  font-size: $baseFontSize;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  @media (max-width: $smallBreakPoint) {
    font-size: $font-size-sm;
  }

  @media (min-width: $mediumBreakPoint) {
    font-size: $font-size-lg;
  }

  @media (min-width: $largeBreakpoint) {
    font-size: $font-size-v-lg;
  }
}

.content {

  &--fixed-heading {
    margin-top: $navbar-height-lg;
  }
}
