body {
  margin: 0;
  font-size: $baseFontSize;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  @media (max-width: $smallBreakPoint) {
    font-size: $fontSizeSmall;
  }

  @media (min-width: $mediumBreakPoint) {
    font-size: $fontSizeLarge;
  }

  @media (min-width: $largeBreakpoint) {
    font-size: $fontSizeVeryLarge;
  }
}

.content {

  &--fixed-heading {
    margin-top: $navbarHeightVeryLarge;
  }

  &--fixed-footer {
    margin-bottom: $navbarHeightVeryLarge;
  }

  &__text {
    margin: 0 25%;
    text-align: justify;

    &> p > a {
      text-decoration: none;
      color: $green;

      &:hover {
        color: lighten($green, 20%);
      }
    }
  }
}
