.heading {
  @extend %border-box;
  @extend %clearfix;

  display: block;
  width: 100%;
  height: $navbarHeight;
  background: $white;

  z-index: 9999;

  border-bottom: 1px solid $grey;

  &--fixed-top {
    position: fixed;
    top: 0;
  }


  &__nav {
    padding-left: $padding;
    padding-right: $padding;

    & > ul {
      margin: 0;
      &.left {
        float: left;
        padding: $padding;
        color: $green;

        & > li {
          display: inline-block;
          font-size: $baseFontSize;
          color: $green;

          & > a {
            text-decoration: none;
            color: $green;
          }
        }
      }

      &.right {
        float: right;
        padding: $padding;

        & > li {
          display: inline-block;
          font-size: $baseFontSize;

          & > a {
            text-decoration: none;
            color: $green;

            &:before {
              content: "E: ";
              color: $grey;
            }
          }
        }
      }
    }
  }

  @media (max-width: $smallBreakPoint) {
    height: $navbarHeightSmall;

    &__nav {
      padding-left: $paddingSmall;
      padding-right: $paddingSmall;

      & > ul {
        &.left {
          padding: $paddingSmall;

          & > li {
            font-size: $fontSizeSmall;
          }
        }

        &.right {
          padding: $paddingSmall;

          & > li {
            font-size: $fontSizeSmall;
          }
        }
      }
    }
  }

  @media (min-width: $mediumBreakPoint) {
    height: $navbarHeightLarge;

    &__nav {
      padding-left: $paddingLarge;
      padding-right: $paddingLarge;

      & > ul {
        &.left {
          padding: $paddingLarge;

          & > li {
            font-size: $fontSizeLarge;
          }
        }

        &.right {
          padding: $paddingLarge;

          & > li {
            font-size: $fontSizeLarge;
          }
        }
      }
    }
  }

  @media (min-width: $largeBreakpoint) {
    height: $navbarHeightVeryLarge;

    &__nav {
      padding-left: $paddingVeryLarge;
      padding-right: $paddingVeryLarge;

      & > ul {
        &.left {
          padding: $paddingVeryLarge;

          & > li {
            font-size: $fontSizeVeryLarge;
          }
        }

        &.right {
          padding: $paddingVeryLarge;

          & > li {
            font-size: $fontSizeVeryLarge;
          }
        }
      }
    }
  }
}
